@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    width: 100vw;
}

.logo {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
.logo img {
    width: 80px;
    height: 80px;
}
  
.logo h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #275b8d;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
  
.logo span {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5d9bd4;
}

header {
    display: flex;
    height: 240px;
    width: 100%;
    background-image: url("./assets/medico.jpg");
    background-position: center;
    background-size: cover;
}

.over {
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #275c8d88;
}

.over h1 {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
}
.services-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.services {
    background-image: url("./assets/rehabilitacion.jpg");
    background-position: center;
    background-size: cover;
}

.services, .tener-cuenta-imagen, .contacto-imagen {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
    height: 240px;

}

.services-title, .contacto-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.services-p {
    padding: 5%;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #275b8d;
    font-weight: 700;
    line-height: 1.2;
}
.services-p:first-child {
    color: #5d9bd4;
}

.services-p span {
    color: #5d9bd4;

}

.arrow {
    align-self: center;
    fill: #5d9ad492;
    animation: float 1.7s ease-in-out infinite alternate;

}

.tener-cuenta-imagen {
    background-image: url("./assets/elementos.jpg");
    background-position: center;
    background-size: cover;
}
.tener-cuenta {
    width: 100vw;
    height: auto;
    margin-bottom: 3%;
    margin-top: 5%;
}
.tener-cuenta img {
    height: 240px;
    position: absolute;
    width: 100vw;
}
.tener-cuenta-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tener-cuenta-list {
    height: auto;
    width: 90%;
    margin-left: 5%;
    padding: 5%;
}

.tener-cuenta-list li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #275b8d;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3%;
}

.contacto-imagen {
    background-image: url("./assets/contacto.jpg");
    background-position: center;
    background-size: cover;
}

.consultas p {
    padding: 2% 4%;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #5d9bd4;
    font-weight: 700;
    line-height: 1.2;
}

.consultas strong {
    color: #275b8d;
}

footer {
    margin-top: 5%;
    height: 50px;
    width: 100%;
    background-color: #275b8d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

@media only screen and (min-width: 800px) {
    header, .over, .services, .tener-cuenta-imagen, .contacto-imagen {
        height: 300px;
    }

    .logo {
        height: 150px;
    }
    .logo img {
        width: 120px;
        height: 120px;
    }
    .logo h2 {
        font-size: 55px;
        flex-direction: row;
    }
    .logo span {
        margin-right: 15px;
    }

    .over h1 {
        font-size: 60px;
    }
    .services-title, .tener-cuenta-title, .contacto-title {
        font-size: 55px;
    }

    .services-p {
        font-size: 40px;
    }

    svg {
        width: 64px;
        height: 64px;
    }

    .tener-cuenta-list {
        margin-left: 15%;
    }

    .tener-cuenta-list li {
        font-size: 35px;
    }

    .consultas p {
        font-size: 35px;
    }



}

@media only screen and (min-width: 1100px) {

    header, .over, .services, .tener-cuenta-imagen, .contacto-imagen {
        height: 400px;
    }

    .services-p {
        font-size: 45px;
        padding: 3% 10%;
    }
    .first-p {
        padding: 4% 15%;
        font-size: 45px;
    }
    .tener-cuenta {
        margin-top: 0%;
    }

    svg {
        width: 72px;
        height: 72px;
    }

    .tener-cuenta-list li {
        font-size: 40px;
    }

    .contacto-imagen {
        margin-top: 0%;
    }
}







@keyframes float {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
